.head_part {
    text-align: center;
    background: rgb(0, 183, 255);
    height: 50px;
}

.nav_part {
    background: black;
    height: 20px;
}

.datetime {
    width: 339px;
}
.date {
    width: 352px;
}
.time {
    width: 351px;
}
.MuiDialogContent-root {
    width: 400px;
}
.drawer-invisible-scrollbar {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.drawer-invisible-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}